<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>服务接口管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script type="text/javascript" src="../lib/vue/jquery.min.js"></script>
    <script src="../lib/vue/jquery-ui.js"></script>
    <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <script type="text/javascript" src="../js/global.js"></script>
    <script type="text/javascript" src="../js/store.js"></script>
    <script type="text/javascript" src="../js/cookies.js"></script>
    <script src="../lib/vue/vue.min.js"></script>
    <script src="../lib/vue/axios.min.js"></script>
    <style>
        tr {
            cursor: pointer;
        }

        .layui-table-cell {
            padding: 0 2px;
        }

        .req-checkbox {
            width: 45px;
            height: 36px;
            text-align: center;
            border: solid 1px #e6e6e6;
        }
        .lastRow{
            padding-left: 2px;
        }

        .req-manager {
            width: 135px;
            height: 36px;
            text-align: center;
            border: solid 1px #e6e6e6;

        }

        .req-manager-button{
            margin: 10px;
        }
        .req-manager-button a{
            font-size: 16px;
            margin-left:10px;
        }
        .req-manager-button a:hover{
            color: red;
        }

        .req-checkbox-sub {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 50%;
            transform: translateX(-50%);
        }

        .req-ul li {
            margin-top: 1px;
        }
        .req-li:last-child .button{
            display: none;
        }
        .resp-li:last-child .button{
            display: none;
        }
        .api-index{
            width: 57px;
            height: 36px;
            line-height:36px;
            text-align: center;
            font-size: 16px;
            margin: auto;
            border: 1px solid #E6E6E6;
        }
    </style>
    <script>
        updateRequestIndex = function (e, ui) {
            let requestArray = vm.requestParamList
            let tempArray = new Array()
            let temp
            //更新后的列表
            let eachArray
            if(!ui){
                eachArray = $('#requestParamTable').find('li')
            }else{
                eachArray = $('li.req-li', ui.item.parent())
            }
            eachArray.each(function (i, item) {
                var id = item.firstElementChild.firstElementChild.innerText
                $(item.firstElementChild.firstElementChild.nextElementSibling).html(i+1)
                temp = requestArray[i]
                if (temp.myId === parseInt(id)) {
                    tempArray[i] = requestArray[i]
                } else {
                    for (var j = 0; j < requestArray.length; j++) {
                        if (requestArray[j].myId === parseInt(id)) {
                            tempArray[i] = requestArray[j]
                            break
                        }
                    }
                }
            });
            vm.requestListUpdate = tempArray
        };
        
        updateResponseIndex = function (e, ui) {
            let responseArray = vm.responseParamList
            let tempArray = new Array()
            let temp
            //更新后的列表
            let eachArray
            if(!ui){
                eachArray = $('#responseParamTable').find('li')
            }else{
                eachArray = $('li.resp-li', ui.item.parent())
            }
            eachArray.each(function (i, item) {
                var id = item.firstElementChild.firstElementChild.firstElementChild.innerText
                $(item.firstElementChild.firstElementChild.firstElementChild.nextElementSibling).html(i + 1)
                temp = responseArray[i]
                if (temp.myId === parseInt(id)) {
                    tempArray[i] = responseArray[i]
                } else {
                    for (var j = 0; j < responseArray.length; j++) {
                        if (responseArray[j].myId === parseInt(id)) {
                            tempArray[i] = responseArray[j]
                            break
                        }
                    }
                }
            });
            vm.responseListUpdate = tempArray
        };


        $(document).ready(function () {
            var fixHelperModified = function (e, tr) {
                var $originals = tr.children();
                var $helper = tr.clone();
                $helper.children().each(function (index) {
                    $(this).width($originals.eq(index).width())
                });
                return $helper;
            }
            $("#requestParamTable").sortable({
                axis:'y',
                handle:'.move-button',
                items: ".req-li:not(.req-li:last-child)",
                helper: fixHelperModified,
                stop: updateRequestIndex
            }).disableSelection();
            $("#responseParamTable").sortable({
                axis: 'y',
                handle: '.move-button',
                items: ".resp-li:not(.resp-li:last-child)",
                helper: fixHelperModified,
                stop: updateResponseIndex
            }).disableSelection();
        });
    </script>
</head>

<body>
<div id="api-edit">
    <div class="x-body layui-anim layui-anim-up" style="padding-top: 0px">
        <form class="layui-form">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this">基本信息</li>
                    <li>请求参数</li>
                    <li>响应参数</li>
                </ul>
                <div class="layui-tab-content" style="padding: 2px;">
                    <!--接口id-->
                    <div class="layui-form-item" hidden>
                        <input type="text" id="L_id" name="id" class="layui-input" v-model="apiInfo.id">
                        <input type="text" id="L_projectId" name="projectId" class="layui-input"
                               v-model="apiInfo.projectId">
                        <input type="text" id="L_contractId" name="contractId" class="layui-input"
                               v-model="apiInfo.contractId">
                        <input type="text" id="L_groupId" name="groupId" class="layui-input"
                               v-model="apiInfo.groupId">
                    </div>
                    <div class="layui-tab-item layui-show">
                        <div class="layui-form-item">
                            <label for="L_groupCode" class="layui-form-label" style="width: 100px"
                                   >
                                <span class="x-red">*</span>所属分组
                            </label>
                            <div class="layui-input-inline" style="width: 300px;">
                                <select id="L_groupCode" name="groupCode" lay-filter="groupCode"
                                        v-model="apiInfo.groupCode">
                                </select>

                            </div>
                            <div class="layui-input-inline" style="margin-left: 20px;width: 150px;">
                                <button class="layui-btn  layui-btn-normal  layui-btn-fluid" lay-filter="edit"
                                        lay-submit="">
                                    保存
                                </button>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_serviceCode" class="layui-form-label"
                                   style="width: 100px">
                                <span class="x-red">*</span>服务编号
                            </label>
                            <div class="layui-input-inline" style="width: 300px;">
                                <!--<select id="L_serviceCode" name="serviceCode"-->
                                        <!--v-model="apiInfo.serviceCode"-->
                                        <!--readonly=""-->
                                        <!--lay-filter="serviceCode">-->
                                <!--</select>-->
                                <input type="text" id="L_serviceCode" name="serviceCode" required=""
                                       v-model="apiInfo.serviceCode"
                                       readonly=""
                                       lay-verify="serviceCode" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_versionNo" class="layui-form-label" style="width: 100px">
                                <span class="x-red">*</span>版本号
                            </label>
                            <div class="layui-input-inline" style="width: 300px;">
                                <input type="text" id="L_versionNo" name="versionNo" required=""
                                       v-model="apiInfo.versionNo"
                                       readonly=""
                                       lay-verify="versionNo" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">
                                <span class="x-red">*</span>直接填写版本号不需要"V"
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_serviceName" class="layui-form-label"
                                   style="width: 100px">
                                <span class="x-red">*</span>服务名称
                            </label>
                            <div class="layui-input-inline" style="width: 300px;">
                                <input type="text" id="L_serviceName" name="serviceName" required=""
                                       v-model="apiInfo.serviceName"
                                       readonly=""
                                       lay-verify="serviceName" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 100px">
                                详细描述
                            </label>
                            <div class="layui-input-inline" style="width: 500px;">
                            <textarea name="detailMemo" id="L_detailMemo"
                                      v-model="apiInfo.detailMemo"
                                      class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 100px">
                                业务规则
                            </label>
                            <div class="layui-input-inline" style="width: 500px;">
                            <textarea name="businessRule"
                                      v-model="apiInfo.businessRule"
                                      class="layui-textarea"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <a href="javascript:;" @click="importJson(1)"
                           class="layui-btn  layui-btn-sm layui-btn-normal">导入JSON</a>
                        <a href="javascript:;" @click="autoClick()"
                           class="layui-btn  layui-btn-sm layui-btn-normal">刷新</a>
                        <a href="javascript:;" @click="paramCheck(1)"
                           class="layui-btn  layui-btn-sm layui-btn-danger">参数校验</a>
                        <table class="layui-table">
                            <colgroup>
                                <col width="60">
                                <col width="300">
                                <col width="200">
                                <col width="105">
                                <col width="40">
                                <col width="62">
                                <col width="180">
                                <col>
                            </colgroup>
                            <thead>
                            <tr class="layui-table-cell">
                                <th>序号</th>
                                <th><span class="x-red">*</span>参数名</th>
                                <th><span class="x-red">*</span>参数说明</th>
                                <th><span class="x-red">*</span>参数类型</th>
                                <th style="padding-left: 10px;padding-right: 10px;">必输</th>
                                <th>长度</th>
                                <th>示例</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                        <ul id="requestParamTable" class="req-ul">
                            <li class="req-li" v-for='(list,index) in requestParamList'
                                :key='list.id'>
                                <form>
                                    <div class="layui-inline">
                                        <div hidden>{{list.myId}}</div>
                                        <div class="layui-input-inline api-index">
                                            {{index+1}}
                                        </div>
                                        <div class="layui-input-inline"
                                             style="width: 298px;">
                                            <input type="text" name="paramKey" placeholder="参数名"
                                                   v-model="list.paramKey" lay-filter="lastRow"
                                                   onchange="onInput(event,1)"
                                                   autocomplete="off" class="layui-input lastRow">
                                            <!--绑定list id-->
                                        </div>
                                        <div class="layui-input-inline"
                                             style="width: 198px;margin: 0;!important;">
                                            <input type="text" name="paramName" placeholder="参数说明"
                                                   v-model="list.paramName" lay-filter="lastRow"
                                                   autocomplete="off" class="layui-input lastRow">
                                        </div>
                                        <div class="layui-input-inline"
                                             style="width: 100px;">
                                            <select name="paramType" lay-filter="paramType"
                                                    lay-verify="paramType" v-model="list.paramType"
                                                    :selected="list.paramType"
                                            lay-search>
                                                <option value="1">string</option>
                                                <option value="2">int</option>
                                                <option value="3">float</option>
                                                <option value="4">double</option>
                                                <option value="5">byte</option>
                                                <option value="6">short</option>
                                                <option value="7">long</option>
                                                <option value="8">boolean</option>
                                                <option value="9">decimal</option>
                                                <option value="10">date</option>
                                                <option value="11">datetime</option>
                                                <option value="12">json</option>
                                                <option value="13">object</option>
                                                <option value="14">array/list</option>
                                                <option value="15">file</option>
                                            </select>
                                        </div>
                                        <div class="layui-input-inline req-checkbox">
                                            <div style="margin-top: 8px;">
                                                <input type="checkbox" :checked="list.paramNullFlag==1"  name="paramNullFlag"
                                                       lay-filter="paramNullFlag" lay-skin="primary"
                                                       class="req-checkbox-sub">
                                            </div>
                                        </div>
                                        <div class="layui-input-inline" style="width: 57px;">
                                            <input type="text" name="paramLength" placeholder="长度"
                                                   v-model="list.paramLength" lay-filter="lastRow"
                                                   autocomplete="off" class="layui-input lastRow">
                                        </div>
                                        <div class="layui-input-inline" style="width: 177px;">
                                            <input type="text" name="paramValue" placeholder="示例"
                                                   v-model="list.paramValue" lay-filter="lastRow"
                                                   autocomplete="off" class="layui-input lastRow">
                                        </div>
                                        <div class="layui-input-inline layui-hide" style="width: 197px;" >
                                            <a>{{list.paramDesc}}</a>
                                        </div>
                                        <div class="layui-input-inline req-manager">
                                            <div class="req-manager-button">
                                                <a href="javascript:;" style="font-size: 12px;margin-left: -2px;"
                                                   @click="addParamDesc($event,1)">更多设置</a>
                                                <a class="button move-button" href="javascript:;"><i class="iconfont">&#xe6fd;</i></a>
                                                <a class="button" href="javascript:;"
                                                   @click='removeRequestParam(index,$event)'><i
                                                        class="iconfont">&#xe69d;</i></a>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="layui-tab-item">
                        <a href="javascript:;" @click="importJson(2)"
                           class="layui-btn  layui-btn-sm layui-btn-normal">导入JSON</a>
                        <a href="javascript:;" @click="autoClick()"
                           class="layui-btn  layui-btn-sm layui-btn-normal">刷新</a>
                        <a href="javascript:;" @click="paramCheck(2)"
                           class="layui-btn  layui-btn-sm layui-btn-danger">参数校验</a>
                        <table class="layui-table">
                            <colgroup>
                                <col width="60">
                                <col width="300">
                                <col width="200">
                                <col width="105">
                                <col width="40">
                                <col width="62">
                                <col width="180">
                                <col>
                            </colgroup>
                            <thead>
                            <tr class="layui-table-cell">
                                <th>序号</th>
                                <th><span class="x-red">*</span>参数名</th>
                                <th><span class="x-red">*</span>参数说明</th>
                                <th><span class="x-red">*</span>参数类型</th>
                                <th style="padding-left: 10px;padding-right: 10px;">必含</th>
                                <th>长度</th>
                                <th>示例</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                        <ul id="responseParamTable" class="req-ul">
                            <li class="resp-li" v-for='(list,index) in responseParamList'
                                :key='list.id'>
                                <form>
                                    <div class="layui-inline">
                                        <div hidden>{{list.myId}}</div>
                                        <div class="layui-input-inline api-index">
                                            {{index+1}}
                                        </div>
                                        <div class="layui-input-inline"
                                             style="width: 298px;">
                                            <input type="text" name="paramKey" placeholder="参数名"
                                                   v-model="list.paramKey" lay-filter="lastRow"
                                                   onchange="onInput(event,2)"
                                                   autocomplete="off" class="layui-input lastRow">
                                            <!--绑定list id-->
                                        </div>
                                        <div class="layui-input-inline"
                                             style="width: 198px;">
                                            <input type="text" name="paramName" placeholder="参数说明"
                                                   v-model="list.paramName" lay-filter="lastRow"
                                                   autocomplete="off" class="layui-input lastRow">
                                        </div>
                                        <div class="layui-input-inline"
                                             style="width: 100px;">
                                            <select name="paramType" lay-filter="paramType"
                                                    :selected="list.paramType" v-model="list.paramType"
                                                    lay-verify="paramType" lay-search>
                                                <option value="1">string</option>
                                                <option value="2">int</option>
                                                <option value="3">float</option>
                                                <option value="4">double</option>
                                                <option value="5">byte</option>
                                                <option value="6">short</option>
                                                <option value="7">long</option>
                                                <option value="8">boolean</option>
                                                <option value="9">decimal</option>
                                                <option value="10">date</option>
                                                <option value="11">datetime</option>
                                                <option value="12">json</option>
                                                <option value="13">object</option>
                                                <option value="14">array/list</option>
                                                <option value="15">file</option>
                                            </select>
                                        </div>
                                        <div class="layui-input-inline req-checkbox">
                                            <div style="margin-top: 8px;">
                                                <input type="checkbox" checked name="paramNullFlag"
                                                       lay-filter="paramNullFlag" lay-skin="primary"
                                                       :checked="list.paramNullFlag==1"
                                                       class="req-checkbox-sub">
                                            </div>
                                        </div>
                                        <div class="layui-input-inline" style="width: 57px;">
                                            <input type="text" name="paramLength" placeholder="长度"
                                                   v-model="list.paramLength" lay-filter="lastRow"
                                                   autocomplete="off" class="layui-input lastRow">
                                        </div>
                                        <div class="layui-input-inline" style="width: 177px;">
                                            <input type="text" name="paramValue" placeholder="示例"
                                                   v-model="list.paramValue" lay-filter="lastRow"
                                                   autocomplete="off" class="layui-input lastRow">
                                        </div>
                                        <div class="layui-input-inline layui-hide" style="width: 197px;" >
                                            <a>{{list.paramDesc}}</a>
                                        </div>
                                        <div class="layui-input-inline req-manager">
                                            <div class="req-manager-button">
                                                <a href="javascript:;" style="font-size: 12px;margin-left: -2px;"
                                                   @click="addParamDesc($event,2)">更多设置</a>
                                                <a class="button move-button" href="javascript:;"><i class="iconfont">&#xe6fd;</i></a>
                                                <a class="button" href="javascript:;"
                                                   @click='removeResponseParam(index,$event)'><i
                                                        class="iconfont">&#xe69d;</i></a>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    var serviceArray;
    function autoClick () {
        layui.use('form', function () {
            var form = layui.form;
            //根据的type类型修改
            form.render();
        });
    }
    function onInput (e,flag) {
        layui.use('form', function () {
            var form = layui.form;
            form.render();
        });
        let lastId
        let checkId
        if(flag === 1){
            lastId = $(e.path[4]).children('li:last')[0].firstElementChild.firstElementChild.innerText
            checkId = e.path[2].firstElementChild.innerText
            if (lastId === checkId){
                vm.addNewRequestParam(e)
            }
        }else{
            lastId = $(e.path[5]).children('li:last')[0].firstElementChild.firstElementChild.firstElementChild.innerText
            checkId = e.path[2].firstElementChild.innerText
            if (lastId === checkId) {
                vm.addNewResponseParam(e)
            }
        }
        // alert("The new content: " + e.target.value);

    }
    function getServiceCode (form) {
        var layer
        layui.use(['layer'], function () {
            layer = layui.layer
        })
        $.get(_hostUrl + '/contracts/' + parseInt(getCookie('projectId')) + '/' + $('#L_groupId').val(), function (res) {
            if (res.code != 200) {
                layer.msg(res.responseMg)
            }else{
                $("#L_serviceCode").find("option").remove();
                $('#L_serviceCode').append(new Option(vm.apiInfo.serviceCode, vm.apiInfo.serviceCode))// 下拉菜单里添加元素
                serviceArray = res.data
                if(vm.apiInfo.groupId != $('#L_groupId').val() && (!serviceArray || serviceArray.length === 0)){
                    layer.msg('当前分组无可添加的服务接口!')
                    $("#L_groupCode").val(vm.apiInfo.groupCode)
                }
                for (var i = 0; i < serviceArray.length; i++) {
                    $('#L_serviceCode').append(new Option(serviceArray[i].serviceCode, serviceArray[i].serviceCode))// 下拉菜单里添加元素
                }
            }
            form.render()
        })
    }

    layui.use(['form', 'layer', 'table'], function () {
        $ = layui.jquery
        var form = layui.form
            , layer = layui.layer
            , table = layui.table
        //获取选中的数据 进行格式转换，并加载到form表单中
        var groupString = parent.$('#groupArray').val()
        // var groupId = parent.$('#groupId').val()
        var groupArray = JSON.parse(groupString)
        //移除只读权限的分组
        let permissionList = JSON.parse(getCookie('userList'))
        for (let i = 0; i < permissionList.length; i++) {
            let groupId = permissionList[i].groupId
            let userType = permissionList[i].userType
            for (let j = 0; j < groupArray.length; j++) {
                if (parseInt(groupId) === groupArray[j].id && userType > 2) {
                    groupArray.splice(j, 1)
                }
            }
        }

        // //如果是复制的则需要初始化数据
        var editData = parent.$("#editApi").val();
            var editArray = JSON.parse(editData)
        for (var i = 0; i < groupArray.length; i++) {
                if(editArray.groupCode === groupArray[i].groupCode ){
                    $('#L_groupCode').append(new Option(groupArray[i].name, groupArray[i].groupCode))// 下拉菜单里添加元素
                    break
                }
        }
            loadJsonDataToForm(editArray)
            // $.each(groupArray, function (index, item) {
            //     if (parseInt(editArray.groupId) === parseInt(item.id)) {
            //         $('#L_groupCode').val(item.groupCode)
            //         return false
            //     }
            // })
        //根据groupId查询该组下的所有合约信息
        // getServiceCode(form)
        form.render()
        //自定义验证规则
        form.verify({
            versionNo: function (value) {
                if (value.length < 1) {
                    return '版本号不可为空'
                }
            },
            serviceCode: function (value) {
                if (value.length < 1) {
                    return '服务编号不可为空'
                }
            },
            serviceName: function (value) {
                if (value.length < 1) {
                    return '服务名称不可为空'
                }
            }
        })

        //监控分组选择事件
        form.on('select(groupCode)', function (data) {
            return false
            // $.each(groupArray, function (i, item) {
            //     if (item.groupCode == data.value) {
            //         $('#L_groupId').val(item.id)
            //         getServiceCode(form)
            //         return
            //     }
            // })
        })
        //选择字段类型监听
        form.on('select(paramType)', function (d) {
            var id = d.elem.parentElement.previousElementSibling.previousElementSibling
                .previousElementSibling.previousElementSibling.innerText
            //d.elem.parentElement.parentElement.parentElement.parentElement.parentElement.id
            var tempArray
            if(d.elem.parentElement.parentElement.parentElement.parentElement.id === 'requestParamTable'){
                tempArray = vm.requestParamList
            }else{
                tempArray = vm.responseParamList
            }
            $.each(tempArray, function (index, item) {
                if (item.myId === parseInt(id)) {
                    item.paramType = d.value
                    // console.log(item.paramKey+'：改变了数据类型'+','+ item.paramType)
                    return false
                }
            })
        })

        form.on('checkbox(paramNullFlag)', function (d) {
            var id = d.elem.parentElement.parentElement.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.innerText
            var tempArray
            if (d.elem.parentElement.parentElement.parentElement.parentElement.parentElement.id === 'requestParamTable') {
                tempArray = vm.requestParamList
            } else {
                tempArray = vm.responseParamList
            }
            $.each(tempArray, function (index, item) {
                if (item.myId === parseInt(id)) {
                    if (d.elem.checked) {
                        item.paramNullFlag = 1
                    } else {
                        item.paramNullFlag = 0
                    }
                    // console.log(item.paramKey + '：改变了必输项' + ',' + item.paramNullFlag)
                    return false
                }
            })
        })

        //监控分组选择事件
        // form.on('select(serviceCode)', function (data) {
        //     $.each(serviceArray, function (i, item) {
        //         if (item.serviceCode == data.value) {
        //             $('#L_serviceCode').val(item.serviceCode)
        //             $('#L_contractId').val(item.id)
        //             $('#L_serviceName').val(item.serviceName)
        //             $('#L_versionNo').val(item.versionNo)
        //             return
        //         }
        //     })
        // })

        //监听提交
        form.on('submit(edit)', function (data) {
            // $("#L_groupCode").removeAttr("disabled");
            event.stopPropagation()
            event.preventDefault()
            updateRequestIndex('stop',null)
            updateResponseIndex('stop',null)
            //过滤未添加paramKey的数据
            $.each(vm.requestListUpdate, function (index, item) {
                if (!item || !item.paramKey || item.paramKey === '') {
                    vm.requestListUpdate.splice(index, 1)
                }
            })
            $.each(vm.responseListUpdate, function (index, item) {
                if (!item || !item.paramKey || item.paramKey === '') {
                    vm.responseListUpdate.splice(index, 1)
                }
            })
            // console.log(JSON.stringify(vm.requestListUpdate))
            if (vm.requestListUpdate.length > 0) {
                let checkStr = arrayToJson(vm.requestListUpdate)
                if (checkStr === '{}') {
                    return false
                }
            }
            if (vm.responseListUpdate.length > 0) {
                let checkStr = arrayToJson(vm.responseListUpdate)
                if (checkStr === '{}') {
                    return false
                }
            }
            data.field.requestParamArray= JSON.stringify(vm.requestListUpdate)
            data.field.responseParamArray= JSON.stringify(vm.responseListUpdate)
            layer.prompt({
                formType: 2,
                value: '',
                title: '请输入更新描述',
                area: ['500px', '100px'] //自定义文本域宽高
            }, function (value, index, elem) {
                $.putForm(_hostUrl + '/api?updateDesc='+ value, data.field, function (res) {
                    if (res.code == 201) {
                        layer.msg('修改接口成功', {
                            icon: 1,
                            time: 2000
                        }, function () {
                            for (let j = 0; j < groupArray.length; j++) {
                                if (parseInt(groupArray[j].id) === parseInt(data.field.groupId)) {
                                    parent.changeBackground(groupArray[j].name)
                                }
                            }
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name)
                            //关闭当前frame
                            parent.layer.close(index)
                            var table = parent.window.layui.table
                            table.reload('apiList', {
                                where: {
                                    projectId: parseInt(getCookie('projectId'))
                                    , groupId: data.field.groupId
                                    , removeFlag: 0
                                }
                            })
                        })
                    } else {
                        layer.msg(res.msg)
                    }
                })
            })
            return false
        })
    })
</script>
<script>
    let vm = new Vue({
        el: '#api-edit',
        data () {
            return {
                superFlag: 0,
                projectStatus: 1,
                apiInfo:{},
                requestListUpdate: [],
                requestParamList: [
                ],
                nextId: 0,
                responseListUpdate: [],
                responseParamList: [
                ],
                respNextId: 0
            }
        },
        mounted() {
            layui.use('form', function () {
                var form = layui.form;
                form.render();
            });
        },
        //渲染之前加载cookie数据
        beforeMount () {
            this.superFlag = getCookie('superFlag')
            this.projectStatus = getCookie('projectStatus')
            let _this = this
            $.get(_hostUrl+'/api/'+getUrlKey('id'),function (res) {
                if(res.code != 200){
                    layui.use('layer',function () {
                        layui.layer.msg(res.msg,{icon:2,time:2000},function () {
                            checkLogin()
                        })
                    })
                }else{
                    _this.apiInfo = res.data
                    _this.requestParamList=res.data.requestParam
                    _this.responseParamList=res.data.responseParam
                    //myId赋值
                    for(var i = 0;i< _this.requestParamList.length;i++){
                        _this.requestParamList[i].myId = _this.nextId
                        _this.requestParamList[i].id = null
                        _this.nextId++
                    }
                    //添加一行空表单备用
                    for(var i = 0;i< _this.responseParamList.length;i++){
                        _this.responseParamList[i].myId = _this.respNextId
                        _this.responseParamList[i].id = null
                        _this.respNextId++
                    }
                    _this.requestParamList.push({
                        myId: _this.nextId++,
                        paramKey: '',
                        paramName: '',
                        paramType: 1,
                        paramNullFlag: 1,
                        paramLength: '',
                        paramValue: '',
                        paramDesc: '',
                    })
                    _this.responseParamList.push({
                        myId: _this.respNextId++,
                        paramKey: '',
                        paramName: '',
                        paramType: 1,
                        paramNullFlag: 1,
                        paramLength: '',
                        paramValue: '',
                        paramDesc: '',
                    })
                }

            })
        },
        watch: {
            nextId () {
                var form
                layui.use('form', function () {
                    form = layui.form
                    form.render('checkbox')
                    form.render('select')
                })
            },
            respNextId () {
                var form
                layui.use('form', function () {
                    form = layui.form
                    form.render('checkbox')
                    form.render('select')
                })
            }
        },
        methods: {
            addNewRequestParam (e) {
                e.stopPropagation()
                e.preventDefault()
                this.requestParamList.push({
                    myId: this.nextId++,
                    paramKey: '',
                    paramName: '',
                    paramType: 1,
                    paramNullFlag: 1,
                    paramLength: '',
                    paramValue: '',
                    paramDesc: '',
                })
                layui.use('form', function () {
                    var form = layui.form;
                    form.render();
                });
            },
            removeRequestParam (index, e) {
                e.stopPropagation()
                e.preventDefault()
                // 只剩一个参数时，无法被删除
                this.requestParamList.splice(index, 1)
                this.nextId--
                if (this.requestParamList.length === 0) {
                    this.addNewRequestParam(e)
                }
                //重新排序
                for(var i = 0; i<this.requestParamList.length;i++){
                    this.requestParamList[i].myId=i
                }
            },
            addNewResponseParam (e) {
                e.stopPropagation()
                e.preventDefault()
                this.responseParamList.push({
                    myId: this.respNextId++,
                    paramKey: '',
                    paramName: '',
                    paramType: 1,
                    paramNullFlag: 1,
                    paramLength: '',
                    paramValue: '',
                    paramDesc: '',
                })
                layui.use('form', function () {
                    var form = layui.form;
                    form.render();
                });
            },
            removeResponseParam (index, e) {
                e.stopPropagation()
                e.preventDefault()
                // 只剩一个参数时，无法被删除
                this.responseParamList.splice(index, 1)
                this.respNextId--
                if (this.responseParamList.length === 0) {
                    this.addNewResponseParam(e)
                }
                //重新排序
                for(var i = 0; i<this.responseParamList.length;i++){
                    this.responseParamList[i].myId=i
                }
            },
            addParamDesc (e,flag){
                e.stopPropagation()
                e.preventDefault()
                layui.use(['form','layer'], function () {
                   var form = layui.form
                       ,layer = layui.layer
                    let myId = parseInt(e.path[3].firstElementChild.innerText)
                    let array
                    let tempValue
                    let tempParam
                    if (flag === 1) {
                        array = vm.requestParamList
                    } else {
                        array = vm.responseParamList
                    }
                    for (var i = array.length - 1; i >= 0; i--) {
                        if (myId === array[i].myId) {
                            tempParam = array[i]
                            tempValue = array[i].paramDesc
                            break
                        }
                    }
                    layer.prompt({
                        formType: 2,
                        value: tempValue,
                        title: '请输入描述内容',
                        area: ['500px', '200px'] //自定义文本域宽高
                    }, function (value, index, elem) {
                        $(e.path[3]).children('div .layui-hide')[0].firstElementChild.innerText = value
                        tempParam.paramDesc = value
                        layer.close(index);
                    })
                })

            },
            importJson (flag) {
                let _this = this
                layui.use(['form', 'layer'], function () {
                    var form = layui.form
                        , layer = layui.layer
                    layer.prompt({
                        formType: 2,
                        maxlength: 50000,
                        value: '',
                        title: '请输入JSON转换参数',
                        area: ['500px', '200px'] //自定义文本域宽高
                    }, function (value, index, elem) {
                        let tempArray = JSON.parse(value)
                        let array
                        let myId
                        let tempKeyArray = new Array()
                        if (flag === 1) {
                            array = _this.requestParamList
                            myId = _this.nextId
                        } else {
                            array = _this.responseParamList
                            myId = _this.respNextId
                        }
                        let tempParam = array[array.length - 1]
                        array.splice(array.length - 1, 1)
                        importIntoArray(myId, array, tempArray, tempKeyArray, '')
                        tempParam.myId = myId
                        array.push(tempParam)
                        myId++
                        layer.close(index);
                    })
                })
            },
            paramCheck(flag){
                if(flag === 1){
                    updateRequestIndex('stop', null)
                    $.each(vm.requestListUpdate, function (index, item) {
                        if (!item || !item.paramKey || item.paramKey === '') {
                            vm.requestListUpdate.splice(index, 1)
                        }
                    })
                    if(vm.requestListUpdate.length > 0){
                        let checkStr = arrayToJson(vm.requestListUpdate)
                        if (checkStr === '{}') {
                            return false
                        }
                    }
                }
                else{
                    updateResponseIndex('stop', null)
                    //过滤未添加paramKey的数据
                    $.each(vm.responseListUpdate, function (index, item) {
                        if (!item || !item.paramKey || item.paramKey === '') {
                            vm.responseListUpdate.splice(index, 1)
                        }
                    })
                    if(vm.responseListUpdate.length > 0){
                        let checkStr = arrayToJson(vm.responseListUpdate)
                        if (checkStr === '{}') {
                            return false
                        }
                    }
                }
                layui.use(['layer'], function () {
                    let layer = layui.layer
                    layer.alert('校验成功!', {
                        icon: 1
                    })

                })
            }
        }
    })
</script>
</body>

</html>