<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>服务接口管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <link rel="stylesheet" href="../lib/load/jquery.mloading.css">
    <script type="text/javascript" src="../lib/vue/jquery.min.js"></script>
    <script src="../lib/vue/jquery-ui.js"></script>
    <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <script type="text/javascript" src="../js/global.js"></script>
    <script type="text/javascript" src="../js/store.js"></script>
    <script type="text/javascript" src="../js/cookies.js"></script>
    <script src="../lib/vue/vue.min.js"></script>
    <script src="../lib/vue/axios.min.js"></script>
    <script src="../lib/load/jquery.mloading.js"></script>
    <style>
        tr {
            cursor: pointer;
        }

        .layui-table-cell {
            padding: 0 2px;
        }

        .req-manager-button a {
            font-size: 14px;
            margin-left: 10px;
            margin-right: 10px;
        }

        .req-manager-button a:hover {
            color: red;
        }

        .req-ul li {
            margin-top: 1px;
        }
    </style>
    <script>
        updateApiIndex = function (e, ui) {
            vm.saveFlag = false
            let apiDataArray = vm.apiDataList
            let tempArray = new Array()
            let temp
            //更新后的列表
            let eachArray
            if(!ui){
                eachArray = $('#apiListTable td.index')
            }else{
                eachArray = $('td.index', ui.item.parent())
            }

            eachArray.each(function (i, item) {
                $(this).html(i + 1)
                var id = item.parentElement.lastElementChild.firstElementChild.firstElementChild.innerText
                temp = apiDataArray[i]
                if (temp.myId === parseInt(id)) {
                    tempArray[i] = apiDataArray[i]
                } else {
                    for (var j = 0; j < apiDataArray.length; j++) {
                        if (apiDataArray[j].myId === parseInt(id)) {
                            tempArray[i] = apiDataArray[j]
                            break
                        }
                    }
                }
            })
            vm.apiDataListUpdate = tempArray
        }

        $(document).ready(function () {
            var fixHelperModified = function (e, tr) {
                    var $originals = tr.children()
                    var $helper = tr.clone()
                    $helper.children().each(function (index) {
                        $(this).width($originals.eq(index).width())
                    })
                    return $helper
                },
                updateIndex = function (e, ui) {
                    $('td.index', ui.item.parent()).each(function (i) {
                        $(this).html(i + 1)
                    })
                }
            $('#apiListTable tbody').sortable({
                helper: fixHelperModified,
                stop: updateApiIndex
            }).disableSelection()
        })
    </script>
</head>

<body>
<div id="case-detail">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">基本信息</li>
            <li>测试</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div style="margin-top: 5px;">
                    <a href="javascript:;" @click="addApi"
                       class="layui-btn  layui-btn-sm layui-btn-normal">添加接口</a>
                    <a href="javascript:;" @click="save($event)"
                       class="layui-btn  layui-btn-sm layui-btn-normal">保存</a>
                </div>
                <table class="layui-table" id="apiListTable">
                    <colgroup>
                        <col width="60">
                        <col width="280">
                        <col width="280">
                        <col width="105">
                        <col width="160">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>接口编号</th>
                        <th>接口名称</th>
                        <th>版本号</th>
                        <th>取参方式</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item,index) in apiDataList">
                        <td class="index">{{index+1}}</td>
                        <td><a href="javascript:;" @click="openApi(item.apiId)">{{item.serviceCode}}</a></td>
                        <td><a href="javascript:;" @click="openApi(item.apiId)">{{item.serviceName}}</a></td>
                        <td>{{item.versionNo}}</td>
                        <td>{{item.requestParamFlag | convertParamType}}</td>
                        <td>
                            <div class="req-manager-button">
                                <div style="display: none">{{item.myId}}</div>
                                <div style="display: none">{{item.apiId}}</div>
                                <a href="javascript:;"><i class="iconfont">&#xe6fd;</i></a>
                                <a href="javascript:;"
                                   @click='editApi(index,$event)'><i
                                        class="iconfont">&#xe69e;</i>修改</a>
                                <a href="javascript:;"
                                   @click='removeApi(index,$event)'><i
                                        class="iconfont">&#xe69d;</i>删除</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="layui-tab-item">
                <div class="layui-row  layui-col-space10" style="margin-top: 5px;">
                    <div class="layui-col-md2">
                        <form class="layui-form">
                            <select id="L_envSelect" name="test-env" lay-filter="testEnv">
                                <option value="">选择测试环境</option>
                            </select>
                            <br>
                            <div style="margin-bottom: 10px;">
                                <label class="layui-form-label" style="padding: 0px;text-align: left;margin-right: 5px;width: 100px;">遇异常中断测试</label>
                                <input type="checkbox"  lay-skin="switch" lay-filter="exceptionType"
                                       lay-text="开启|关闭">
                                <br>
                            </div>
                            <button class="layui-btn layui-btn-normal layui-btn-fluid"
                                    @click="executeTest($event)"
                                    lay-submit v-if="saveFlag"
                                    lay-filter="executeTest">执行测试
                            </button>
                            <a class="layui-btn layui-btn-normal layui-btn-fluid layui-btn-disabled"
                                    v-else>先保存再测试
                            </a>
                            <div>
                                <br>
                                <button class="layui-btn layui-btn-danger layui-btn-fluid"
                                        @click="testHistory($event)"
                                        lay-submit
                                        lay-filter="testHistory">测试历史
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="layui-col-md5">
                        <button class="layui-btn layui-btn-warm layui-btn-xs"
                                @click="clearParamArea($event,1)">清空请求参数
                        </button>
                        <button class="layui-btn  layui-btn-xs"
                                @click="formatParam($event,1)">格式化请求参数
                        </button>
                        <textarea id="requestParamArea" name="requestParam" placeholder="请输入请求参数数据"
                                  class="layui-textarea"
                                  style="height: 410px;"></textarea>
                    </div>
                    <div class="layui-col-md5">
                        <button class="layui-btn layui-btn-danger  layui-btn-xs"
                                @click="clearParamArea($event,2)">清空响应参数
                        </button>
                        <textarea id="responseParamArea" name="requestParam" placeholder="获取响应参数数据"
                                  class="layui-textarea"
                                  style="height: 410px;"></textarea></div>
                </div>
            </div>
        </div>
    </div>
    <input hidden id="apiData" type="text">
</div>
<script>
    let requestParamData,layer
    function addApiData (index) {
        vm.saveFlag = false
        let apiData = JSON.parse($('#apiData').val())
        apiData.projectId = vm.projectId
        apiData.caseConfId = vm.caseConfId
        apiData.myId = parseInt(apiData.myId)
        if (index !== -1) {
            vm.apiDataList.push(apiData)
            vm.apiDataList[index] = vm.apiDataList[vm.apiDataList.length - 1]
            vm.apiDataList.splice(vm.apiDataList.length - 1, 1)
        } else {
            apiData.myId = vm.nextId
            vm.apiDataList.push(apiData)
            vm.nextId++
        }
        //用完清空数据
        $('#apiData').val('')
    }

    layui.use(['layer', 'element','form'], function () {
        $ = layui.jquery
        layer = layui.layer
        let form = layui.form
        form.on('switch(exceptionType)', function (data) {
            //记住用户名
            if (data.elem.checked) {
                vm.exceptionType = 1
            } else {
                vm.exceptionType = 0
            }
        });
        $("ul li:eq(1)").click(function () {
            //测试tab
            //加载第一个执行的接口请求参数
            let apiId = $($('#apiListTable tbody tr')[0].lastElementChild.firstElementChild
                .firstElementChild).next()[0].innerText;
            //通过id获取请求参数
            $.get(_hostUrl+'/api/requestParam/'+parseInt(apiId),function (res) {
                if(res.responseCode === 200){
                    requestParamData = res.data
                    if (vm.convertFlag === 1) {
                        let str = arrayToJson(requestParamData)
                        vm.requestParamJson = JSON.stringify(JSON.parse(str), null, '\t')
                    }
                    $('#requestParamArea').val(vm.requestParamJson)
                }
            })
        })
    })

</script>
<script>
    let vm = new Vue({
        el: '#case-detail',
        data () {
            return {
                caseConfId: 0,
                caseName: '',
                groupId: 0,
                projectId: 0,
                apiData: '',
                nextId: 0,
                apiDataList: [],
                apiDataListUpdate: [],
                convertFlag:1,
                requestParamJson:{},
                saveFlag:true,
                exceptionType:0
            }
        },
        filters: {
            convertParamType (data) {
                return getrequestParamTypeArray[data]
            }
        },
        beforeMount () {
            this.caseConfId = getUrlKey('id')
            this.groupId = getUrlKey('groupId')
            this.projectId = getUrlKey('projectId')
            this.caseName = getUrlKey('caseName')
            axios.get(_hostUrl + '/test/configApis/' + this.caseConfId).then(response => {
                if (response.data.responseCode == 200) {
                    this.apiDataList = response.data.data
                    for (var i = 0; i < this.apiDataList.length; i++) {
                        this.apiDataList[i].myId = this.nextId
                        this.apiDataList[i].id = null
                        this.nextId++
                    }
                }
            })
            axios.get(_hostUrl + '/envs').then(response => {
                if (response.data.responseCode == 200) {
                    let envArray = response.data.data
                    layui.use(['form', 'table'], function () {
                        $ = layui.jquery
                        var form = layui.form
                        for (var i = 0; i < envArray.length; i++) {
                            $('#L_envSelect').append(new Option(envArray[i].envName, envArray[i].id))// 下拉菜单里添加元素
                        }
                        form.render()
                    })
                }
            })
        },
        methods: {
            addApi () {
                x_admin_show('添加接口', './case-api-add.html?groupId='+this.groupId, 600, 400)
            },
            save (e) {
                e.stopPropagation()
                e.preventDefault()
                let layer
                layui.use(['layer'], function () {
                    layer = layui.layer
                })
                //为空说明没有进行过移动，直接用原列表
                updateApiIndex(e,null)
                axios({
                    method: 'post',
                    url: _hostUrl + '/test/configApi',
                    data: {
                        caseConfId: this.caseConfId,
                        apiDataList: JSON.stringify(this.apiDataListUpdate)
                    }
                }).then((res) => {
                    if (res.data.responseCode === 201) {
                        this.saveFlag = true
                        //登记成功
                        layer.msg('操作成功', {
                            icon: 1,
                            timeout: 2000
                        })
                    } else {
                        layer.msg(res.data.responseMsg, {
                            icon: 2,
                            timeout: 2000
                        })
                    }
                })

            },
            removeApi (index, e) {
                e.stopPropagation()
                e.preventDefault()
                this.saveFlag = false
                this.apiDataList.splice(index, 1)
                this.nextId--
                //重新排序
                for (var i = 0; i < this.apiDataList.length; i++) {
                    this.apiDataList[i].myId = i
                }
            },
            editApi (index, e) {
                e.stopPropagation()
                e.preventDefault()
                $('#apiData').val(JSON.stringify(this.apiDataList[index]))
                x_admin_show('修改接口', './case-api-edit.html?index=' + index, 600, 400)
            },
            executeTest (e) {
                e.stopPropagation()
                e.preventDefault()
                //请求参数有可能修改，需要临时保存
                this.requestParamJson = $('#requestParamArea').val()
                isJSON(this.requestParamJson)
                this.convertFlag = 0
                if ($('#L_envSelect').val() !== '') {
                    $("body").mLoading({
                        text: "测试启动中...",//加载文字，默认值：加载中...
                        icon: "",//加载图标，默认值：一个小型的base64的gif图片
                        html: false,//设置加载内容是否是html格式，默认值是false
                        content: "",//忽略icon和text的值，直接在加载框中显示此值
                        mask: true//是否显示遮罩效果，默认显示
                    });
                    $.post(_hostUrl + '/test/caseGroup/invoke', {
                        exceptionType: this.exceptionType,
                        projectId: this.projectId,
                        caseConfId: this.caseConfId,
                        groupId: this.groupId,
                        envId: parseInt($('#L_envSelect').val()),
                        requestParam: this.requestParamJson
                    }, function (res) {
                        // let data = res.data
                        $("body").mLoading("hide");//显示loading组件
                        if (res.responseCode === 200) {
                                layer.msg('测试启动成功', {
                                    icon: 1,
                                    time: 2000
                                })
                            $('#responseParamArea').val('通过测试历史查看测试结果!')
                        }else{
                            layer.msg(res.responseMsg, {
                                icon: 2,
                                time: 2000
                            })
                        }
                        // if (res.responseCode === 200) {
                        //     if (data.body.length > 1) {
                        //         data.body = JSON.parse(data.body)
                        //     }
                        //     $('#responseParamArea').val(JSON.stringify(data, null, '\t'))
                        //     layer.msg('测试成功', {
                        //         icon: 1,
                        //         time: 2000
                        //     })
                        // } else if (res.responseCode === 400) {
                        //     $('#responseParamArea').val(JSON.stringify(data, null, '\t'))
                        //     layer.msg('测试失败', {
                        //         icon: 2,
                        //         time: 2000
                        //     })
                        // } else {
                        //     try{
                        //         $('#responseParamArea').val(JSON.stringify(JSON.parse(res.responseMsg), null, '\t'))
                        //     }catch (e){
                        //         $('#responseParamArea').val(res.responseMsg)
                        //     }
                        //     layer.msg('测试出现异常', {
                        //         icon: 2,
                        //         time: 2000
                        //     })
                        // }
                    })
                }else{
                        layer.msg('请先选择环境再执行测试!', {
                            icon: 2,
                            time: 2000
                        })
                }
            },
            testHistory (e) {
                e.stopPropagation()
                e.preventDefault()
                    parent.parent.layui.element.tabDelete("xbs_tab", 888)
                    let url = './page/case-test-list.html?id=' + this.caseConfId + "&caseName=" + this.caseName
                    parent.parent.tab.tabAdd('用例测试记录', url, 888)
                    parent.parent.tab.tabChange(888)
            },
            clearParamArea (e, flag) {
                e.stopPropagation()
                e.preventDefault()
                if (flag === 2) {
                    $('#responseParamArea').val(null)
                } else {
                    $('#requestParamArea').val(null)
                    this.convertFlag = 1
                }
            },
            formatParam (e, flag) {
                e.stopPropagation()
                e.preventDefault()
                if (flag === 2) {
                    isJSON($('#responseParamArea').val())
                    $('#responseParamArea').val(null)
                } else {
                    isJSON($('#requestParamArea').val())
                    $('#requestParamArea').val(JSON.stringify(JSON.parse($('#requestParamArea').val()),null,'\t'))
                    this.convertFlag = 1
                }
            },
            openApi: function (apiId) {
                x_admin_show('接口详情', './api-detail.html?id=' + apiId)
            },
        }
    })
</script>
</body>

</html>